@if (breed) {
<ion-card class="card">
  @if(showImage){
    <app-cat-imagen [imageReference]="breed.reference_image_id"> </app-cat-imagen>
  }
  <ion-card-header class="card_header">
    <ion-card-title>{{breed.name}} </ion-card-title>
    <span>{{utilsService.get_country(breed.country_code)}}</span>
    <div class="card_header--range">
      
      
      <ion-text class="ion-margin-top" >level intelligence: {{breed.intelligence}}</ion-text>
      <ion-range aria-label="intelligence_range" class="card_header--range-indicator" disabled="true" [min]="1" [max]="5" [value]="breed.intelligence || 0" [pin]="true" [ticks]="true"
        [snaps]="true">
        <ion-icon slot="start" name="star-outline"></ion-icon>
  <ion-icon slot="end" name="ribbon-outline"></ion-icon>
      </ion-range>
    </div>
  </ion-card-header>

  <ion-card-content>
    <p  [ngClass]="{'card_text-description': !showDetails}">{{breed.description}}</p>
    @if(!showDetails){
      <div class="card_text-footer">
        <span >View more </span> <ion-icon  name="eye-outline"></ion-icon>
      </div>
    } @else {
      <div class="card_text-detail ">
      @for (item of breedKeys; track $index) {
       <!--  @if(breed[item] && item !== 'description' && item !== 'name' && item !== 'reference_image_id' && item !== 'country_code' && item !== 'intelligence') { -->
            <div>
              <strong>{{utilsService.getTitleForKey(item)}}: </strong>
              <span>{{breedValueForKey(item) }}</span>
            </div>
            <!--  } -->
            
          }
        </div>
    }
  </ion-card-content>

 
</ion-card>

}