$layout-breakpoint-small: 575px;


.card {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    height: -webkit-fill-available;

    &_header {
        display: flex;
        align-items: end;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;

        &--range {
            flex-basis: 100%;
            margin-top: 1em;

            &-indicator {
                padding-top: 0;
            }
        }
    }

    &_text-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 2em;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    &_text-footer {
        margin-top: 1em;
        border-top-style: dashed;
        border-top-color: #afafaf;
        border-top-width: 1px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 4px;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    &_text-detail {
        @media (min-width: $layout-breakpoint-small) {
            margin-top: 1em;
            display: grid;
            gap: 8px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


        }
    }

}


ion-range {
    --bar-background: #e9e9e9;
    --bar-background-active: #d8d8d8;
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --knob-background: #484848;
    --knob-size: 40px;

}

ion-range::part(tick) {
    background: #afafaf;
}

ion-range::part(tick-active) {
    background: #afafaf;
}