// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/


.container{
    max-width: 65em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-self: center;
}