<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title class="ion-text-center">
      CatBreeds
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="container" >

      <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  
  <ion-list class="list">
     @for (breed of breeds(); track breed.id) {
      <app-cat-card [breed]="breed" (click)="goToDetail(breed.id)"></app-cat-card>
    } 
  </ion-list>
@if(loading()){
  <div  class="list_spinner" >
    <ion-spinner name="crescent"></ion-spinner>
  </div>
}
  
   
  
  @if(breeds().length === 0 && !loading()) {
    <div class="ion-text-center ion-padding ">
      No hay resultados 
    </div>
  }
  
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
