$layout-breakpoint-small: 575px;

.list{
@media (min-width: $layout-breakpoint-small) {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}
    &_spinner{
        display: flex;
        justify-content: center;
        margin-block: 1em;
    }
}

